body {
	margin: 0;
	padding: 0;
	background-color: #FFFFF;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/**************************************************************
* 							HEADER							  *
***************************************************************/
header {
	background-color:#F5F2F0;
    text-align: center;
    text-shadow: 0 1px white;
    padding:1em;
    box-shadow: 0 0px 1px rgba(34, 25, 25, 0.4);
}

header section {
	width:80%;
	display: inline-block;
	text-align: justify;
	color: #414141;
	-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

header h1 {
	margin:0;
	font-size: 3em;
	font-weight: 100;
	color:#590099;
}

@media screen and (max-width: 900px) {
    header section {
		-webkit-column-count: 1;
    	-moz-column-count: 1;
    	column-count: 1;
	}
}

/**************************************************************
* 					PINTEREST LOOK							  *
***************************************************************/
#mosaic-container{
	column-width: 150px;
	column-gap: 15px;
	-moz-column-width: 150px;
	-moz-column-gap: 15px;
	width: 90%;
	max-width: 1000px;
	margin: 50px auto;
}

div#mosaic-container figure {
	background: #fefefe;
	border-radius: 6px;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	transition: opacity .4s ease-in-out;
	column-break-inside: avoid;
	display: inline-block;
}

div#mosaic-container figure img {
	width: 100%; 
	height: auto;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

div#mosaic-container figure figcaption {
	padding:1em;
}
